@*Partial View*@
@{

    var userId = "";
    if (Session["user_au_id"] != null)
    {
        userId = Session["user_au_id"].ToString();
    }
}

<script type="text/javascript">
    function StatusFunction(data) {
        var userId=@userId;
        var receive_id = data;
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("UpdateStatus", "Receive")",
            data: {
                receive_id:receive_id,
                user_id:userId
            },
            success: function(data) {
                if (data.output === "success") {
                    sweetAlert("Yes...", data.msg,data.output);
                } else {
                    sweetAlert("Sorry...", data.msg, data.output);
                }
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();

            }
        });
    }
</script>
<div class="panel panel-success" id="context">
    <div class="panel-heading"><h5>Payment Received Search</h5> </div>
    <div class="panel-body">
        <script id="edit-template" type="text/x-kendo-template">
            <a style="font-size:11px; text-decoration: none;" href="/Receive/Edit?receive_id=#= receive_id #" class="k-button k-grid-even edit">Edit</a>
        </script>

        <script id="status-template" type="text/x-kendo-template">
            <a style="font-size:11px; text-decoration: none;" onclick='javascript:StatusFunction(#= receive_id #);' class="k-button k-grid-even approved">Receive</a>

        </script>
        <script id="report-template" type="text/x-kendo-template">
            <a style="font-size:11px; text-decoration: none;" href="/Receive/GetMoneyReceiptReport?receive_id=#= receive_id #" target="_blank" class="k-button k-grid-even report">Print Money Receipt</a>
        </script>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">
                    <label for="from_date">From Date</label>
                </div>
                <div class="col-md-1">
                    <input id="from_date" name="from_date" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <label for="to_date">To Date</label>
                </div>
                <div class="col-md-1">
                    <input id="to_date" name="To Date" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <label for="channal_id">Channels</label>
                </div>
                <div class="col-md-2">
                    <input id="channal_id" name="channal_id" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <input type="button" class="k-button " id="btnSearch" name="btnSearch" value="Search" style="margin-top: 6px" />
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div>
                <input type="button" class="k-button " id="btnExportExcel" name="btnExportExcel" value="Export Excel" />
            </div>
            <input type="button" class="k-button " id="btnExportPdf" name="btnExportPdf" value="Export PDF" />

            <div id="grid"></div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
               // alert(@userId);
                $("#btnExportExcel").hide();
                $("#btnExportPdf").hide();

                var todayDate = kendo.toString(kendo.parseDate(new Date()), 'yyyy/MM/dd');
                $("#from_date").val(todayDate);
                $("#to_date").val(todayDate);
                //Excel Export---------
                $("#btnExportExcel").click(function() {
                    var grid = $("#grid").data("kendoGrid");
                    grid.saveAsExcel();
                });

                //PDF Export---------
                $("#btnExportPdf").click(function() {
                    var from_date = $("#from_date").val();
                    var to_date = $("#to_date").val();
                    var channal_id = $("#channal_id").val();

                    if (channal_id == '') {
                        channal_id = "0";
                    }
                    var url = '/PaymentRequest/GetAllPaymentRequest?from_date=' + from_date + '&to_date=' + to_date + '&from_warehouse_id=' + channal_id;
                    window.open(url, '_blank');
                });


                //date time picker
                $("#from_date").kendoDatePicker({
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    },
                    format: "yyyy/MM/dd"
                });

                //date time picker
                $("#to_date").kendoDatePicker({
                    animation: {
                        close: {
                            effects: "fadeOut zoom:out",
                            duration: 300
                        },
                        open: {
                            effects: "fadeIn zoom:in",
                            duration: 300
                        }
                    },
                    format: "yyyy/MM/dd"
                });

                $("#channal_id").kendoComboBox({
                    autoBind: false,
                    placeholder: "        --- Select Channel ---",
                    dataTextField: "party_name",
                    dataValueField: "party_id",
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@UrlConfig.Action("GetAllParty", "Party")"
                            }
                        }
                    }
                });

                // Search Button
                $("#btnSearch").click(function() {
                    Loading(true);
                    // sweetAlert("Opps...!", "Work Under Progress", "warning");
                    var from_date = $("#from_date").val();
                    var to_date = $("#to_date").val();
                    var partyId = $("#channal_id").val();
                    if (partyId == "") partyId = 0;

                    if (from_date == "") {
                        Loading(false);
                        sweetAlert("Sorry...", "Select From Date", "warning");
                    } else if (to_date == '') {
                        Loading(false);
                        sweetAlert("Sorry...", "Select To Date", "warning");
                    } else if (to_date == "") {
                        Loading(false);
                        sweetAlert("Sorry...", "Select To Date", "warning");
                    } else if (to_date < from_date) {
                        Loading(false);
                        sweetAlert("Sorry...", "To Date can not be less then From Date", "warning");
                    }
                        //else if (partyId == "") {
                        //    //Loading(false);
                        //    //sweetAlert("Sorry...", "Please Select Party", "warning");
                        //    partyId = 0;
                        //}
                    else {

                        $.ajax({
                            type: "GET",
                            url: "@UrlConfig.Action("GetAllPaymentReceivedList", "Receive")?fromDate=" + from_date + "&toDate=" + to_date + "&partyId=" + partyId + "",
                            dataType: "json",
                            contentType: "application/json",
                            success: function(data) {
                                Loading(false);
                                console.log(data);

                                var sampleData = [];

                                if (data != '') {

                                    for (var i = 0; i < data.length; i++) {

                                        var paymentRequestDetails = {
                                            receive_id: data[i].receive_id,
                                            receipt_no: data[i].receipt_no,
                                            receive_date: data[i].receive_date,
                                            party_name: data[i].party_name,
                                            payment_method_name: data[i].payment_method_name,
                                            amount: data[i].amount,
                                            bank_name: data[i].bank_name,
                                            branch_name: data[i].branch_name,
                                            reference_no: data[i].reference_no,
                                            invoice_no: data[i].invoice_no,
                                            opening_balance: data[i].opening_balance,
                                            representative: data[i].representative,
                                            bank_charge: data[i].bank_charge,
                                            remarks: data[i].remarks,
                                            payment_req_id: data[i].payment_req_id,
                                            document_attachment: data[i].document_attachment,
                                            approved_by: data[i].approved_by,
                                            is_varified: data[i].is_varified,
                                            status: data[i].status,
                                            created_by: data[i].created_by,
                                            created_date: data[i].created_date,
                                            updated_by: data[i].updated_by,
                                            updated_date: data[i].updated_date,
                                            territory_name: data[i].territory_name
                                        };
                                        sampleData.push(paymentRequestDetails);
                                    }

                                    //Payment Grid---------------------
                                    var dataSource = new kendo.data.DataSource({
                                        pageSize: 20,
                                        transport: {
                                            read: function(e) {
                                                // on success
                                                e.success(sampleData);
                                            }
                                        },
                                        //    code: "Ok",
                                        autoSync: false,
                                        schema: {
                                            errors: function(e) {
                                                console.log(e.errors);
                                                //alert(e.error);
                                                if (e.output === "error") {
                                                    console.log(e.output);
                                                    //KendoWindowFunction(e.msg, "error", "");
                                                    // this.cancelChanges();
                                                }

                                            },

                                            model: {
                                                id: "receive_id",
                                                fields: {
                                                    receive_id: { editable: false, nullable: true },
                                                    receipt_no: { type: "string" },
                                                    receive_date: { type: "date" },
                                                    party_name: { type: "string" },
                                                    payment_method_name: { type: "string" },
                                                    amount: { type: "number" },
                                                    bank_name: { type: "string" },
                                                    branch_name: { type: "string" },
                                                    reference_no: { type: "string" },
                                                    invoice_no: { type: "string" },
                                                    opening_balance: { type: "number" },
                                                    representative: { type: "string" },
                                                    bank_charge: { type: "number" },
                                                    remarks: { type: "number" },
                                                    payment_req_id: { type: "number" },
                                                    document_attachment: { type: "string" },
                                                    approved_by: { type: "string" },
                                                    is_varified: { type: "boolean" },
                                                    status: { type: "string" },
                                                    created_by: { type: "string" },
                                                    created_date: { type: "date" },
                                                    updated_by: { type: "string" },
                                                    updated_date: { type: "date" },
                                                    territory_name: { type: "string" }
                                                }

                                            }
                                        }

                                    });

                                    var d = new Date();
                                    var dateTime = d.toJSON();
                                    //Excel Export---------
                                    jQuery("#grid").kendoGrid({
                                        excel: {
                                            fileName: "Payment_Received_List_" + dateTime + ".xlsx",
                                            allPages: true
                                        },
                                        dataSource: dataSource,
                                        scrollable: true,
                                        filterable: true,
                                        pageable: {
                                            refresh: true,
                                            input: true,
                                            pageSize: 20,
                                            numeric: false,
                                            pageSizes: [10, 20, 50, 100, 500, 1000]
                                        },

                                        sortable: true,
                                        groupable: true,
                                        resizable: true,


                                        columns: [
                                            { field: "receipt_no", title: "Receipt No", width: "150px" },
                                            { field: "receive_date", title: "Receive Date", width: "150px", format: "{0:dd-MM-yyyy}" },
                                            { field: "party_name", title: "Channel Name", width: "150px" },
                                            { field: "territory_name", title: "Channel Teritory", width: "150px" },
                                            { field: "opening_balance", title: "Opening Balance", width: "150px" },
                                            { field: "payment_method_name", title: "Payment Method", width: "150px" },
                                            { field: "amount", title: "Payment Amount", width: "150px" },
                                            { field: "bank_name", title: "Bank", width: "150px" },
                                            { field: "branch_name", title: "Branch", width: "150px" },
                                            { field: "reference_no", title: "Bank Deposit Ref", width: "150px" },
                                            { field: "status", title: "Status", width: "150px" },
                                            { field: "approved_by", title: "Approved By ", width: "150px" },
                                            {
                                                title: "Action",
                                                width: "300px",
                                                template: kendo.template($("#edit-template").html() + $("#status-template").html() + $("#report-template").html())
                                            },
                                            { command: ["destroy"], title: "Action", width: "90px" }
                                        ],
                                        dataBound: function(e) {
                                            var grid = $("#grid").data("kendoGrid");
                                            var gridData = grid.dataSource.view();

                                            for (var i = 0; i < gridData.length; i++) {
                                                var currentUid = gridData[i].uid;
                                                var currenRow = grid.table.find("tr[data-uid='" + currentUid + "']");
                                                var editButtonApproved = $(currenRow).find(".approved");
                                                var editButtonEdit = $(currenRow).find(".edit");
                                                var editButtonReport = $(currenRow).find(".report");
                                                var editButtonDelete = $(currenRow).find(".k-grid-delete");
                                                var xxx = $(currenRow).find("a");

                                                //  console.log(xxx);
                                                if (gridData[i].status === "Approved") {

                                                    editButtonApproved.hide();
                                                    editButtonEdit.hide();
                                                    editButtonDelete.hide();
                                                } else {
                                                    editButtonReport.hide();
                                                }
                                            }
                                        },

                                        editable: "inline"
                                    });
                                    $("#btnExportExcel").show();
                                    // $("#btnExportPdf").show();

                                } else {
                                    swal("Opps !", "Data Not Available !!", "warning");
                                    $("#grid").data("kendoGrid").dataSource.data([]);
                                    $("#btnExportExcel").hide();
                                    $("#btnExportPdf").hide();
                                    return false;
                                }
                            }
                        });
                    }
                });
            });
        </script>
    </div>
</div>
