@{
    ViewBag.Title = "Index";
}
<div id="grid"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize:20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllShippingTerms", "ShippingTerms")",
                    type: "GET"
                },
                update: {
                    url: "@UrlConfig.Action("Put", "ShippingTerms")",
                    type: "PUT",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                        swal("", e.responseJSON.msg, e.responseJSON.output);
                    }
                },
                destroy: {
                    url: "@UrlConfig.Action("Delete", "ShippingTerms")",
                    type: "DELETE"
                },
                create: {
                    url: "@UrlConfig.Action("Post", "ShippingTerms")",
                    type: "POST",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                        swal("", e.responseJSON.msg, e.responseJSON.output);
                        //Updated By Kiron:23-11-2016
                    }
                }
            },
            //    code: "Ok",
            autoSync: false,
            schema: {
                errors: function (e) {
                    console.log(e.errors);
                    //alert(e.error);
                    if (e.output === "error") {
                        console.log(e.output);
                       KendoWindowFunction(e.msg, "error", "");
                       this.cancelChanges();
                   }
                },

                model: {
                    id: "shipping_terms_id",
                    fields: {
                        shipping_terms_id: { editable: false, nullable: true },
                        shipping_terms_name: { type: "string", validation: { required: true } },
                        is_active: { type: "boolean" }
                    }

                }
            }

        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [10, 20, 50]
            },
            sortable: true,
            groupable: true,
            resizable: true,

            toolbar: [{ name: "create", text: "Add Shipping Terms" }],
            columns: [
                { field: "shipping_terms_name", title: "Shipping Terms", id: "shipping_terms_id", width: "150px" },
                { field: "is_active", title: "Is Active", width: "150px" },
                { command: ["edit", "destroy"], title: "Action", width: "230px" }],
            editable: "inline"
        });
    });
</script>


