
input, .k-item, .k-grid, .k-header {
    color: #555 !important;
}

.row {
    width: 100% !important;
    margin-left: -5px !important;
    margin-top: 5px;
}

.k-textbox, .k-datepicker, .k-combobox, .k-numerictextbox, .k-dropdown {
    width: 100% !important;
    margin: 5px !important;
}

.k-textbox, .k-datepicker, .k-combobox, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-dropdown-wrap {
    border-color: #bbb !important;
}

    .k-textbox:hover, .k-datepicker:hover, .k-combobox:hover, .k-dropdown-wrap:hover, .k-picker-wrap:hover, .k-numeric-wrap:hover {
        border-color: #7ea700 !important;
    }

.k-grid .k-state-selected {
    background: #DFF0D8;
    color: #7C7C7C
}

.k-checkbox-label {
    margin: 7px !important;
}

.k-checkbox:checked + .k-checkbox-label:after {
    width: 1.2em !important;
    height: 1.2em !important;
    text-align: left !important;
}

.k-checkbox-label:after {
    width: 1.2em !important;
    height: 1.2em !important;
    border-color: #bbb !important;
}

label {
    margin-top: 5px !important;
}

.panel-heading {
    padding: 5px 15px !important;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.group-box {
    border: 1px solid gainsboro;
    /*border-radius: 5px;
    -moz-border-radius: 5px;*/
    padding: 8px;
    margin: 2px;
}

span.k-i-search {
    cursor: pointer;
    cursor: hand;
}

    span.k-i-search input {
        border-right: 1px solid #dadada;
        text-align: center;
    }

.k-space-right .k-icon {
    right: 5px !important;
}

input.required {
    border: 1px solid red !important;
}

.fieldRequired {
    color: #ff5c33;
    font-size: .6em !important;
    position: relative;
    top: -3px;
}
