@{
    ViewBag.Title = "Index";
}

<div class="panel panel-success" id="context">
    <div class="panel-heading"><h4>Designation Setup</h4></div>
    <div class="panel-body">
        <script id="edit-template" type="text/x-kendo-template">
            <a style="font-size:11px; text-decoration: none;" href="/Designation/Edit?sales_designation_id=#= sales_designation_id #" class="k-button k-grid-even">Edit</a>
        </script>
        <div class="k-grid  k-secondary" data-role="grid">
            <div class="k-toolbar k-grid-toolbar">
                <a class="k-button k-button-icontext k-grid-add" href="@Url.Action("Add", "Designation")">
                    <span class="k-icon k-add"></span>
                    Add Designation
                </a>
            </div>
        </div>
        <div id="grid"></div>
        <script type="text/javascript">
            $(document).ready(function () {
                var dataSource = new kendo.data.DataSource({
                    pageSize: 20,
                    transport: {
                        read: {
                            url: "@UrlConfig.Action("GetAllDesignationForGrid", "Designation")",
                            type: "GET"
                        },
                        create: {
                            url: "@UrlConfig.Action("Post", "Designation")",
                            type: "POST",
                            complete: function (e) {
                                jQuery("#grid").data("kendoGrid").dataSource.read();
                                swal("", e.responseJSON.msg, e.responseJSON.output);
                            }
                        },

                        destroy: {
                            url: "@UrlConfig.Action("Delete", "Designation")",
                            type: "DELETE",
                            complete: function (e) {
                                jQuery("#grid").data("kendoGrid").dataSource.read();
                                swal("", e.responseJSON.msg, e.responseJSON.output);
                            }

                        }
                    },
                    //    code: "Ok",
                    autoSync: false,
                    schema: {
                        errors: function (e) {
                            console.log(e.errors);
                            //alert(e.error);
                            if (e.output === "error") {
                                console.log(e.output);
                                //KendoWindowFunction(e.msg, "error", "");
                                // this.cancelChanges();
                            }

                        },

                        model: {
                            id: "sales_designation_id",
                            fields: {
                                sales_designation_id: { editable: true, nullable: true },
                                sales_designation: { type: "string" },
                                parent_designation_id: { type: "number" },
                                parent_designation_name: { type: "string" },
                                sales_type_id: { type: "number" },
                                sales_type: { type: "string" },
                                sales_person_type_code: { type: "string" }
                            }

                        }
                    }

                });
                jQuery("#grid").kendoGrid({
                    dataSource: dataSource,
                    scrollable: true,
                    filterable: true,
                    pageable: {
                        refresh: true,
                        input: true,
                        pageSize: 20,
                        numeric: false,
                        update: true,
                        destroy: true,
                        pageSizes: [10, 20, 50]
                    },
                    sortable: true,
                    columns: [
                        { field: "sales_designation", title: "Designation Name", id: "sales_designation_id", width: "150px" },
                        { field: "parent_designation_name", title: "Parent Designation Name", width: "150px" },
                        { field: "sales_person_type_code", title: "Sales Person Type Code", width: "150px" },
                        { title: "Action", width: "90px", template: kendo.template($("#edit-template").html()) },
                        { command: ["destroy"], title: "Action", width: "100px" }],
                    editable: "inline"
                });
            });
        </script>
    </div>
</div>

